<ol
  class='col-start-1 col-end-2 row-start-1 grid grid-cols-1 sm:grid-cols-7 sm:pr-8'
  style='grid-template-rows: 3rem repeat(288, minmax(0, 1fr)) auto'
>

  {{#each @shownEvents as |event index|}}
    <li
      class='relative mt-px hidden col-start-{{event.dayOfWeek}}
        col-span-{{event.dayDiff}}
        sm:flex'
      style={{this.employeeGridMap index}}
    >
      <a
        href='#'
        class='group absolute inset-1 flex flex-col overflow-y-auto rounded-lg bg-gray-100 p-2 text-xs leading-5 hover:bg-gray-200'
      >
        <p class='order-1 font-semibold text-gray-700'>{{event.description}}</p>
        <p class='text-gray-500 group-hover:text-gray-700'><time
            datetime={{event.start_date}}
          >{{date-format event.start_date}}
            -
            {{date-format event.end_date}}</time></p>
      </a>
    </li>
  {{/each}}
</ol>